
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}


.gif-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.gif-container img {
    width: 300px;
    opacity: 0;
    transform-origin: center center; /* QUAN TRá»ŒNG */
    animation:
        fadeInOut 12s ease-in-out forwards,
        zoomPan 12s ease-in-out forwards;
}


@keyframes zoomPan {
    0% {
        transform: scale(1) translate(0, 0);
    }
    50% {
        transform: scale(1.25) translate(-5px, -5px);
    }
    100% {
        transform: scale(1.5) translate(0, 0);
    }
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0.9;
    }
}


h3 {
    margin-top: 15px;
    letter-spacing: 1px;
}

.hint {
    font-size: 13px;
    opacity: 0.6;
}
